<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

<script type="text/javascript">

    function getTextAJAX() {

        //GUARDAMOS EN UNA VARIABLE EL RESULTADO DE LA CONSULTA AJAX

        var text = $.ajax({

            url: 'http://127.0.0.1:8000/findRandDomSentece', //ruta donde se recupera la frase aleatoria
                dataType: 'text',//tipo de dato que se recibe
                async: false     //asíncrono es false
        }).responseText;

        //indica el div que va a actualizar con el nuevo mensaje
        document.getElementById("myText").innerHTML = "La frase recogida es: "+text;
    }

    //con esta función llamamos a getTextAjax cada 10s para que actualice
    setInterval(getTextAJAX,10000);

</script>

<html>
    <body>

    <div id='myText'></div>
    </body>
</html>
